#content-footer{
  height: $footer-height;
  padding: 10px $content-padding;
  background-color: $mezzo-white-paper;

  .content-footer-inner{
    border-top: 1px solid rgba(0,0,0,0.1);
    padding-top: 10px;
  }
}