html, body {
  height: 100%;
}

#page-container{
  transition: ease padding $mezzo-animation-long;

}

.sidebar-open #page-container {
  padding-left: $sidebar-width;
}

.sidebar-closed #page-container {
  padding-left: $sidebar-closed-width;
}

#view-main {
  height: 100vh;
  background-color: $mezzo-white-paper;
}

a {
  transition: ease all 0.2s;
}

#topbar {
  min-height: $topbar-height;
  background-color: $mezzo-white;
}


