#sidebar {
  width: $sidebar-width;
  left: 0;
  top: 0;
  position: fixed;
  z-index: $sidebar-z-index;
  height: 100vh;
  background-color: $mezzo-gray;

  transition: ease width $mezzo-animation-long;

  .sidebar-header {
    height: $topbar-height;
    background-color: $mezzo-gray-dark;
    padding: $sidebar-padding;

    .sidebar-logo-wrap{
      margin-right: 10px;
      margin-left: 5px;
    }

    .sidebar-pin-wrap{
      line-height: 29px;
    }
    
    b {
      color: $mezzo-white;
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
      display: block;

      //@TODO: Put this in a row?
    }

    i {
      color: $mezzo-lightgray;
    }
    
    > div:last-child{
      margin-right: 3px;
    }
  }

  h3 {
    text-transform: uppercase;
    color: $mezzo-lightgray;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 0px;
    padding: 0px $sidebar-padding;
  }

  .sidebar-pin-wrap{
    float: right;
    text-align: center;
    padding: 5px 0px;
    cursor: pointer;
  }
}


.sidebar-closed #sidebar{
  width: $sidebar-closed-width;

  .sidebar-logotext-wrap, .nav-main > li.has-pages.opened > a:before,
  .nav-main span, h3, .nav-main li ul{
    display: none;
  }

  .sidebar-pin-wrap{
    float: none;
  }
}


.nav-main {
  @include layout-list();

  a {
    color: $mezzo-lightgray;
    display: block;
  }

  a:hover {
    color: $mezzo-lightgray-light;
    text-decoration: none;
  }

  // First Level
  > li {
    > a {
      padding: $sidebar-padding;
      position: relative;
    }

    > a:hover{
      background-color: rgba(0,0,0,0.1);
    }

    i {
      padding: 10px;
      margin-right: 10px;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  > li.has-pages > a:before {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 15px;
    display: inline-block;
    font-family: 'FontAwesome';
    color: $mezzo-lightgray;
    content: "\f104";
    transition: ease all $mezzo-animation-normal;
  }

  > li.has-pages.opened > a:before {
    color: $mezzo-white;
    @include prefix(transform, rotate(-90deg), webkit ms);
  }

  // Other Levels
  li ul {
    @include layout-list();
    padding-right: 20px;
    overflow: hidden;
    background-color: $mezzo-gray-dark;
    transition: ease all $mezzo-animation-normal;
    max-height: 0px;

    a {
      padding: 3px 3px 3px 59px;
    }

    li:first-child a{
      padding-top: 10px;
    }

    li:last-child a{
      padding-bottom: 10px;
    }
  }

  li.opened ul {
    max-height: 500px;
  }
}

