<!-- Add folder Modal -->
<div class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Folder name" ng-model="vm.folderName">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button" ng-click="vm.addFolder(vm.folderName)">
                            <span class="ion-plus"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add folder Modal -->

<div class="well" style="margin-bottom: 0">
    <!-- Search -->
    <input type="search" class="form-control pull-right" style="width: 200px" placeholder="Search">
    <!-- Search -->
    <!-- Upload & Add folder -->
    <div class="btn-group">
        <button type="button" class="btn btn-primary">
            <span style="display: inline-block; width: 20px">
                <span class="ion-ios-cloud-upload"></span>
            </span>
            <span style="display: inline-block">Upload</span>
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="div.modal">
            <span style="display: inline-block; width: 20px">
                <span class="ion-ios-folder"></span>
            </span>
            <span style="display: inline-block">Add folder</span>
        </button>
    </div>
    <!-- Upload & Add Folder -->
    <!-- Refresh -->
    <button type="button" class="btn btn-default">
        <span class="ion-loop"></span>
    </button>
    <!-- Refresh -->
    <!-- Move & Delete -->
    <div class="btn-group">
        <button type="button" class="btn btn-default">
            <span style="display: inline-block; width: 20px">
                <span class="ion-arrow-swap"></span>
            </span>
            <span style="display: inline-block">Move</span>
        </button>
        <button type="button" class="btn btn-default">
            <span style="display: inline-block; width: 20px">
                <span class="ion-close"></span>
            </span>
            <span style="display: inline-block">Delete</span>
        </button>
    </div>
    <!-- Move & Delete -->
</div>

<!-- Folder Navigation -->
<ol class="breadcrumb" style="margin-bottom: 0">
    <li ng-repeat="folder in vm.folderHierarchy()" ng-class="{ active: $last }">
        <a href="" ng-bind="folder.title" ng-click="vm.selectFile(folder)" ng-hide="$last"></a>
        <span ng-bind="folder.title" ng-show="$last"></span>
    </li>
</ol>
<!-- Folder Navigation -->

<!-- Files -->
<table class="table table-hover table-responsive">
    <tr ng-repeat="file in vm.files" ng-click="vm.selectFile(file)">
        <td style="width: 20px">
            <span class="ion-ios-folder" ng-show="file.isFolder"></span>
            <span ng-class="file.icon()" ng-hide="file.isFolder"></span>
        </td>
        <td>
            <span ng-bind="file.title"></span>
        </td>
    </tr>
</table>
<!-- Files -->