<div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" placeholder="Title" ng-model="options.title">
</div>

<div class="row">

    <div class="col-xs-5">
        <select class="form-control" ng-model="options.leftMode">
            <option value="1">One</option>
            <option value="n">Many</option>
        </select>
    </div>

    <div class="col-xs-7" style="vertical-align: middle">
        <select class="form-control" disabled>
            <option ng-bind="options.getModelLabel(options.leftModel, options.leftMode)"></option>
        </select>
    </div>

</div>

<hr>

<div style="text-align: center">
    <strong ng-show="options.leftMode === '1'">has</strong>
    <strong ng-show="options.leftMode === 'n'">have</strong>
</div>

<hr>

<div class="row">

    <div class="col-xs-5">
        <select class="form-control" ng-model="options.rightMode">
            <option value="1">One</option>
            <option value="n">Many</option>
        </select>
    </div>

    <div class="col-xs-7">
        <select class="form-control" ng-options="options.getModelLabel(model, options.rightMode) for model in options.models track by model.id" ng-model="options.rightModel"></select>
    </div>

</div>

<hr>

<button type="button" class="btn btn-default btn-block text-muted">
    <span class="ion-gear-a pull-right"></span>
    Advanced Options
</button>