<div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" placeholder="Title" ng-model="options.title">
</div>

<div class="row">

    <div class="col-xs-5">
        <select class="form-control">
            <option>One</option>
            <option>Many</option>
        </select>
    </div>

    <div class="col-xs-7">
        <select class="form-control" disabled>
            <option>Tutorial</option>
        </select>
    </div>

</div>

<hr>

<div style="text-align: center">
    <strong>has</strong>
</div>

<hr>

<div class="row">

    <div class="col-xs-5">
        <select class="form-control" ng-model="options.mode">
            <option value="1">One</option>
            <option value="n">Many</option>
        </select>
    </div>

    <div class="col-xs-7">
        <select class="form-control">
            <option>Author</option>
            <option>Category</option>
        </select>
    </div>

</div>